<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Mongoose Server</title>
        <style>
            table {border: 1px solid black; border-collapse: collapse;}
            table th, table td {border: 1px solid black;}
        </style>
    </head>
    <body>
        <div>
            <form id="user-form">
                <fieldset>
                    <legend>Register User</legend>
                    <div><input id='username' type='text' placeholder='Name'></div>
                    <div><input id='age' type='number' placeholder='Age'></div>
                    <div><input id='married' type='checkbox'><label for='married'>Married or not</label></div>
                    <button type='submit'>Register</button>
                </fieldset>
            </form>
        </div>
        <br>
        <table id="user-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Married</th>
                </tr>
            </thead>
            <tbody>
                % for user in users %
                <tr>
                    <td> {{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{'Married' if user.married else 'Single'}}</td>
                </tr>
                % endfor %
            </tbody>
        </table>
        <br>
        <div>
            <form id="comment-form">
                <fieldset>
                    <legend>Comment add</legend>
                    <div><input id='userid' type='text' placehold='Usr Id'></div>
                    <div><input id='comment' type='text' placeholder='Comment'></div>
                    <button type='submit'>Register</button>
                </fieldset>
            </form>
        </div>
        <br>
        <table id="comment-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Writer</th>
                    <th>Comment</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
        <script scr="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/mongoose.js"></script>
    </body>
</html>