<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sequelize Server</title>
    <style>
      table { border: 1px solid black; border-collapse: collapse; }
      table th, table td { border: 1px solid black; }
    </style>
  </head>
  <body>
    <div>
      <form id="user-form">
        <fieldset>
          <legend>Create User</legend>
          <div><input id="username" type="text" placeholder="Name"></div>
          <div><input id="age" type="number" placeholder="Age"></div>
          <div><input id="married" type="checkbox"><label for="married">Marriage</label></div>
          <button type="submit">Create</button>
        </fieldset>
      </form>
    </div>
    <br>
    <table id="user-list">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Marriged</th>
      </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{ 'Married' if user.married else 'Single'}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <div>
      <form id="comment-form">
        <fieldset>
          <legend>Comment Post</legend>
          <div><input id="userid" type="text" placeholder="User Id"></div>
          <div><input id="comment" type="text" placeholder="Comment"></div>
          <button type="submit">Post</button>
        </fieldset>
      </form>
    </div>
    <br>
    <table id="comment-list">
      <thead>
      <tr>
        <th>ID</th>
        <th>Comment User</th>
        <th>Comment</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/sequelize.js"></script>
  </body>
</html>